<table class="table" width="100%">
{% if name is empty %}
        <tr>
			<td>No Record Found</td>
		</tr>
		{% else %}
	{% for val in name %}
		<tr>
			<td width="30%"><img style="width:200px;height:200px" src="{{ val.image }}"></td>
			<td width="10%">{{ val.title }}</td>
			<td width="50%">{{ val.des | raw }}</td>
			<td width="10%"><a href="{{ url('<front>') }}node/{{ val.nid }}">view</a></td>
		</tr>
	{% endfor %}
	{% endif %}
</table>