<table class="table">
{% if name is empty %}
        <tr>
			<td>No Record Found</td>
		</tr>
		{% else %}
	{% for val in name %}
		<tr>
			<td><img style="width:200px;height:200px" src="{{ val.image }}"></td>
			<td>{{ val.title }}</td>
			<td>{{ val.des | raw }}</td>
			<td><a href="{{ url('<front>') }}node/{{ val.nid }}">view</a></td>
		</tr>
	{% endfor %}
	{% endif %}
</table>